
body {
    font-family: Arial, sans-serif;
    margin: 0;
    padding: 0;
}
.separator {
    margin-top: 0;
    height: 7px; 
    background-color: #0F2713; 
    width: 100%; 
    margin-bottom: 0;
}

.bandeau__cta {
    margin-top: 0 !important;
height: 97px;
background: #CF3803;
margin-right: 0%;
margin-left: 0%;
    margin-top: 10px;
    color: #E8914D;
font-family: Koulen;
font-size: 20px;
font-style: normal;
font-weight: 400;
line-height: 140%;
text-align: center;
}


.bandeau__cta p {
    margin-top: 0;
}
.bandeau__bouton {
    background: #0F2713;
    color: white;
    padding: 10px 20px;
    text-decoration: none;
    border-radius: 5px;
}

.actualite {
    padding: 20px;
    text-align: center;
}
.actualite__titre {
    font-size: 2rem;
    margin-bottom: 10px;
}
.actualite__titre {
    display: inline-block;
    margin: 10px;
    text-align: left;
}
.actualite__image {
    width: 300px;
    border-radius: 10px;
}
.actualite__description {
    margin-top: 5px;
}

.carousel img {
    width: 100%; 
    height: 100px; 
    object-fit: cover;
}
.ancienne-edition {
    padding: 20px;
    text-align: center;
    background: #B8CBA3;
}
.ancienne-edition__titre {
    font-size: 2rem;
    margin-bottom: 10px;
}
.ancienne-edition__carousel {
    display: flex;
    overflow-x: scroll;
    gap: 10px;
}
.ancienne-edition__carousel-item img {
    width: 200px;
    border-radius: 10px;
}

.apropos {
    background-color: #fff8f0;

flex-shrink: 0;


}
.apropos__titre {
width: fit-content;
padding-right: 10px;
    font-size: 2rem;
    text-align: center;
    color: #B4672B;
font-family: Koulen;
font-size: 36px;
font-style: normal;
font-weight: 400;
line-height: normal;
border-radius: 21px;
border: 3px solid #E8914D;
background: #FFAD4C;
    
}
.apropos__text {
    width: 361px;
    color: #000;
    font-family: Syne;
    font-size: 16px;
    font-style: normal;
    font-weight: 600;
    line-height: normal;

}
.apropos__lien {
    font-family: var(--sds-typography-body-font-family);
font-size: var(--sds-typography-body-size-medium);
font-style: normal;
font-weight: var(--sds-typography-body-font-weight-regular);
line-height: 100%;
    display: inline-flex;
padding: var(--sds-size-space-300);
justify-content: center;
align-items: center;
gap: var(--sds-size-space-200);
border-radius: var(--sds-size-radius-200);
border: 2px solid #0F2713;
background: rgba(255, 173, 76, 0.00);
}

/* Partenaires */
.partenaire {
    padding: 20px;
    text-align: center;
}
.partenaire__logos img {
    width: 150px;
    margin: 10px;
}
  